{% for host in groups['dbservers'] %}
export MYSQL_HOST={{ hostvars[host]['ansible_' + iface].ipv4.address }}
{% endfor %}
export MYSQL_PASSWORD=pass123
export SECRET_KEY_BASE=4b06a17dad9e10abc39cd7f1c7b6c2498b4a48f819cb88ae02de0abb1921725e2e533fc39bd010db532a0e1
